<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GRA_KOSTKI_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GRA_KOSTKI_v2.Properties.Settings>
            <setting name="REKORD_PUNKTY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="REKORD_IMIE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM33" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM34" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM35" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM36" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM37" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM38" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM39" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZM40" serializeAs="String">
                <value>0</value>
            </setting>
        </GRA_KOSTKI_v2.Properties.Settings>
    </userSettings>
</configuration>